html {
  --base: #617fbc;
  --base-light: #e0ecfa;
  --base-dark: #495f8a;

  --base-text-light: #8592a5;

  --base-font-size: 16px;

  font-size: var(--base-font-size);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 1rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="checkbox"] {
  cursor: pointer;
}